@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(270deg, #4f46e5, #2e0158);
  background-size: 400% 400%;
  animation: gradientMove 30s ease infinite;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

bg {
  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 50%; }
}

.dynamic-gradient {
  animation: gradientMove 5s infinite ease-in-out alternate;
}
